.about {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__author {
  order: 2;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 25px;
}

.about__greeting,
.about__content {
  margin: 0;
}

.about__greeting {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about__social {
  text-decoration: none;
  color: #222;
  font-weight: bolder;
  font-style: italic;
}

@media screen and (max-width: 920px) {
  .about {
    flex-direction: column;
  }

  .about__author {
    order: 0;
  }

  .about__greeting {
    text-align: center;
    margin-top: 25px;
  }
}